<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Register</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/css/login.css}">
</head>
<body>
<div id="container">
    <h2 style="margin-left: 15px">Enter the new password</h2>
    <form action="#" th:action="@{/update-password}" th:object="${changeUserPassword}" method="post">
        <label>New password: </label><br/>
        <input type="password" th:field="*{password}" /><br/>
        <p><input type="submit" value="Update" /></p>
    </form>
</div>
</body>
</html>